{:lint-as        {promesa.core/let                        clojure.core/let
                  promesa.core/plet                       clojure.core/let
                  promesa.core/loop                       clojure.core/loop
                  promesa.core/recur                      clojure.core/recur
                  datascript-async.db/defn+               clojure.core/defn
                  datascript-async.db/defcomp             clojure.core/defn
                  datascript-async.db/declare+            clojure.core/declare
                  datascript-async.db/defrecord-updatable clojure.core/deftype}
 ;; defrecord stuff doesn't work, basically no macros will lint right
 :config-in-ns   {datascript-async.db   {:ignore true}
                  datascript-async.conn {:ignore true}}
 :config-in-call {datascript-async.db/declare+ {:linters {:unresolved-symbol {:level :off}}}}}
